<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <a href="/home">Home</a>
    <a href="/about">About</a>
    <a href="/works">Works</a>
    <a href="/gallery">Gallery</a>
    <h1>Gallery</h1>
    <div id="div-imagen">
        <img class="imagen-mj" src="mj1.jpg" alt="Michael Jackson">
        <img class="imagen-mj" src="mj2.jpg" alt="Michael Jackson">
        <img class="imagen-mj" src="mj3.jpg" alt="Michael Jackson">
        <img class="imagen-mj" src="mj4.jpg" alt="Michael Jackson">
    </div>
</body>
</html>