<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabajos</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="menu-header">
        <a href="/home">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
        <a href="/gallery">Gallery</a>
    </div>
    <h1>Works / Discography</h1>

    <ul>
        <li>Got to Be There (1972)</li>
        <li>Ben (1972)</li>
        <li>Music & Me (1973)</li>
        <li>Forever, Michael (1975)</li>
        <li>Off the Wall (1979)</li>
        <li>Thriller (1982)</li>
        <li>Bad (1987)</li>
        <li>Dangerous (1991)</li>
        <li>HIStory: Past, Present and Future, Book I (1995)</li>
        <li>Invincible (2001)</li>
    </ul>


</body>
</html>